.content {
  width: 100rem;
  height: 50rem;

  display: none;
}

#home {
  display: block;
  //   background-color: red;
}

#clicker {
  //   background-color: blue;
}

#locations {
  //   background-color: aqua;
}

#game {
  //   background-color: yellow;
}
