.content {
  width: 100rem;
  height: 50rem;
  display: none;

  &__clicker {
    // display: flex;
  }
  &__locations {
    // display: flex;
  }
  &__game {
    // display: flex;
  }

  &__home {
    display: flex;
    align-items: center;

    &__info {
      width: 65rem;
      height: 50rem;
      padding: 2.4rem 3.2rem;
      border-right: 1.5px solid rgba(0, 0, 0, 0.12);
      margin-right: 4.5rem;
    }

    &__text {
      color: #777;
      margin-top: 2rem;
      font-size: 1.6rem;
      font-weight: 500;

      &:nth-child(3) {
        margin-top: 4rem;
        font-size: 2rem;
        font-weight: 600;
        color: #555;
      }

      &:nth-child(4) {
        margin-top: 1rem;
      }

      &--sub-text {
      }
    }
  }
}

// Font sizes (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
