.game {
  width: 100%;
  height: 100%;

  position: relative;

  &__intro-box {
    margin: 0 auto;
    margin-top: 5rem;
    width: 75rem;
    height: 35rem;

    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  &__control-panel {
    margin: 0 auto;
    // padding: 1rem 2rem;

    border-radius: 5px;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    &__btn {
      background-color: #fff;
      border: none;

      font-family: "Lato", sans-serif;
      font-size: 1.6rem;
      color: #333;
      padding: 0.4rem 1rem;
      border-radius: 3px;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
      font-weight: 500;
      background-color: rgba(0, 0, 0, 0.025);

      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.33);
      }

      &:active {
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        transform: scale(0.99);
      }

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}
