.leaflet-control-container {
  display: none;
}

.leaflet-popup {
  font-size: 1.4rem;
}

.leaflet-grab {
  cursor: auto;
}

.leaflet-dragging .leaflet-grab {
  cursor: move;
}

.clicker {
  //   display: flex;
  align-items: center;

  &__map {
    width: 60rem;
    height: 45rem;

    margin-right: 2.5rem;
    border-radius: 7.5px;
    // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  &__map__box {
    margin-left: auto;
    position: relative;
  }

  &__map__panel {
    // width: 45rem;
    // height: 4rem;
    // background-color: transparent;
    // border-radius: 5px;

    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: 9999999999999999999999999;

    display: flex;
    align-items: center;

    &__reset-btn {
      font-size: 1.4rem;
      font-family: "Lato";
      border: none;
      background-color: rgba(255, 255, 255, 0.75);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 0.3rem 0.8rem 0.4rem 0.8rem;
      cursor: pointer;

      transition: all 0.33s;

      &:nth-child(1) {
        margin-right: 1rem;
      }

      &:hover {
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);
        transform: translateY(-1px);
      }

      &:active {
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
        transform: translateY(0) scale(0.99);
      }
    }
  }

  &__about {
    width: 35rem;
    height: 50rem;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 1rem;
  }

  &__note {
    width: 80%;
    text-align: center;
    font-size: 1.4rem;
    margin: 0.4rem auto 1rem auto;
    padding-bottom: 0.2rem;

    border-bottom: 1px solid #fff;
    cursor: default;

    &::selection {
      background-color: transparent;
    }

    &--title {
      border: none;
      font-size: 1.6rem;
      letter-spacing: 0.75px;
      font-weight: 600;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
      margin-top: 0;
      padding-top: 0;
    }
  }

  &__form-box {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    // height: fit-content;
    height: 5.5rem;

    background-color: #868e96;
    // background-color: #adb5bd;
    color: #fff;

    padding: 0.8rem 0;

    transition: 0.5s height;

    position: relative;

    &__close-form {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;

      width: 2rem;
      height: 2rem;
      color: #fff;

      cursor: pointer;
    }
  }

  &__form-el {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-bottom: 1rem;

    div {
      display: inline-block;
      width: fit-content;
    }

    input {
      border: none;
      border-radius: 4px;
      width: 21rem;
      height: 2.25rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
      font-family: "Lato";
      padding-left: 1rem;

      &::placeholder {
        color: #bbb;
      }

      transition: 0.1s outline, 0.1s box-shadow;

      &:focus {
        // outline: 2.75px solid rgba(0, 0, 0, 0.2);
        outline: none;
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);
      }

      &:nth-child(1) {
        margin-bottom: 1rem;
      }
    }
  }

  &__btn {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    border: none;
    width: 8rem;
    height: 4rem;
    background-color: #fff;
    cursor: pointer;
    margin: 1rem;
    margin-right: 2rem;
    border-radius: 5px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s box-shadow, transform 0.2s, color 0.2s;

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    &:active {
      transform: scale(0.95);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    &--mod {
      width: 5.4rem;
      height: 3rem;
      font-size: 1.5rem;
      background-color: rgba(0, 0, 0, 0.03);

      &:hover {
        background-color: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
      }

      &:active {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__pins {
    width: 31rem;
    // height: 23rem;
    height: 31.3rem;
    border-radius: 5px;
    margin: 3rem auto;
    overflow: scroll;

    padding-top: 1rem;
    border-bottom: 1rem solid #adb5bd;
    // border-top: 0.5rem solid #adb5bd;

    &::-webkit-scrollbar {
      display: none;
    }

    // background-color: #868e96;
    background-color: #adb5bd;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    opacity: 0;
    transition: opacity 0.75s, height 0.5s;
  }

  &__pin {
    display: flex;
    align-items: center;

    width: 29rem;
    // height: 6rem;
    height: 0rem;
    margin: 1rem auto;

    &:nth-child(1) {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 0;
    }

    border-radius: 4px;

    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    overflow: hidden;

    transition: 0.4s height;

    &--initial {
      box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    }

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateY(-0.3rem);

      width: 14rem;

      margin-right: auto;
      margin-left: 1rem;
    }

    &__number {
      font-size: 3rem;
      padding: 1.5rem;
      color: #555;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);

      margin-left: 1rem;
      //   margin-right: 1rem;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.01);

      cursor: pointer;

      transition: all 0.2s;

      &:hover {
        background-color: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
        color: #333;
      }

      &--initial {
        padding: 0;

        &::selection {
          background-color: transparent;
        }
      }

      &__icon {
        color: #f03e3e;
        width: 3rem;
        height: 3rem;
      }
    }

    &__popup,
    &__note {
      overflow: scroll;
      white-space: nowrap;

      &::selection {
        background-color: transparent;
      }
    }

    &__popup {
    }

    &__note {
      font-size: 1.2rem;
    }
  }
}

// // // // // // // // // // // // // // // // // // // //
// Font sizes (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// .clicker__pin__number--initial ion-icon {
//   color: #888;
//   width: 2.4rem;
//   height: 2.4rem;
// }
