.nav {
  width: 20rem;
  height: 50rem;
  background-color: #f9fbfd;
  box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.2) inset;

  display: flex;
  flex-direction: column;

  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.2rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #666;

    &::selection {
      background-color: transparent;
    }
  }

  &__lists {
    list-style: none;
    padding: 2.4rem 1.6rem;

    color: #888;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__list {
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 0.6rem 0.8rem;
    margin-bottom: 0.4rem;
    cursor: pointer;

    transition: all 0.3s;

    ::selection {
      background-color: transparent;
    }

    &__icon {
      margin: 0 0.8rem;
      color: #888;
      width: 2.4rem;
      height: 2.4rem;
    }

    &--active {
      color: #555;
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    }

    &:hover {
      color: #555;
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
    }
  }

  &__note {
    margin-top: auto;
    padding: 1rem;

    font-size: 1.4rem;
    font-weight: 400;
  }
}

// Font sizes (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// Spacing system (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
