*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @include width(1800) {
        // font-size: 75%; // 1rem = 12px;  12/16 = 75%
        font-size: 12px;
    }

    @include width(1200) {
        font-size: 9px;
    }

    @include width(900) {
    }

    @include width(600) {
    }

    @include width(320) {
    }
}

body {
    padding: 3rem;

    @include width(600) {
        padding: 0;
    }
}

.main {
    background-color: #f7f7f7;
    padding-top: 25rem;
    margin-top: -24rem;
}

// ::selection {}

// TEMPORARY
.main {
    padding-bottom: 50rem;
}
