// prettier-ignore
.u-center-text { text-align: center !important; }

// prettier-ignore
.u-margin-top-6rem { margin-top: 6rem !important; }

// prettier-ignore
.u-margin-top-10rem { margin-top: 10rem !important; }

// prettier-ignore
.u-margin-bottom-1-5rem {margin-bottom: 1.5rem !important;}

// prettier-ignore
.u-margin-bottom-8rem {margin-bottom: 8rem !important;}

// prettier-ignore
.u-skew-y-7deg { transform: skewY(7deg) !important; }
