.control-panel {
    background-image: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.33),
            rgba(255, 255, 255, 0.33)
        ),
        url(https://images.unsplash.com/photo-1569956726918-b36bd5e659b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-size: cover;
    background-position: center;

    position: relative;

    // transition: opacity 0.3s;
}

.start {
    display: block;
    font-size: 1.5rem;
    border: none;
    background-color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    font-family: "Lato", sans-serif;

    border-radius: 10px;
    // margin: 0 auto;
    transition: 0.15s box-shadow;
    // background-color: rgba(231, 245, 255, 0.5);
    box-shadow: #868e96 0px 5px 15px;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: 0.3s top, 0.3s box-shadow;
}

.start:hover {
    top: 39.5%;
    box-shadow: #868e96 0px 5px 25px;
}

.start:active {
    top: 40%;
}
