:root {
  --placeholder-color: #777;
  --color-background: rgba(0, 0, 0, 0.05);
  --box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  --color-box: #fff;
  --color-text: #555;
  --color-text-hover: #111;
  --input-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* :root {
  --placeholder-color: #777;
  --color-background: #333;
  --box-shadow: 0 0 5px 1px rgba(255, 255, 255, 1);
  --color-box: #777;
  --color-text: #fff;
  --color-text-hover: #ddd;
  --input-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 1);
} */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: monospace;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-background);
}

.main {
  width: 100%;
}

.links {
  width: 28rem;
  margin: 3rem auto;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem 2rem 2.5rem 2rem;
  background-color: var(--color-box);
}

.link,
.link:link,
.link:visited {
  text-decoration: none;
  color: var(--color-text);
  font-size: 2rem;
  padding: 0.25rem 0;

  display: block;
  text-align: center;

  transition: all 0.1s;
  border-bottom: 0.15rem solid #ddd;
}

.link:hover,
.link:active {
  color: var(--color-text-hover);
  border-bottom: 0.15rem solid #bbb;
}

.link:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form {
  width: 28rem;
  margin: 3rem auto 0 auto;
}

.form div {
  width: fit-content;
  margin: 0 auto;

  box-shadow: var(--input-box-shadow);

  border-radius: 3px;
  padding: 0.5rem;
}

.input {
  font-family: monospace;
  padding: 0.2rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  text-align: center;

  transition: all 0.2s;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.input::placeholder {
  color: var(--placeholder-color);
}

.btn {
  padding: 0.2rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}
