* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  line-height: 1;
}

.main {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 5rem auto;
}

.link,
.link:link,
.link:visited {
  color: #333;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;

  display: inline-block;
  margin: 0.7rem 0;
  padding: 0.5rem;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.link:hover {
  color: #111;
  background-color: #ddd;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}
