body {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Plus Jakarta Sans', sans-serif;

    font-size: 1.6rem;
    font-weight: 400;
}

.heading-1 {
    width: 80rem;
    margin: 0 auto;

    font-size: 3rem;
}

.p {
    width: 80rem;
    margin: 0 auto;

    margin-top: 1.2em;
    margin-bottom: 1.2em;

    font-weight: 400;

    font-size: 2rem;
    line-height: 1.6;
    color: #111;
}

.p2 {
    padding-left: 2rem;
    line-height: 1.6;
}
