.section-about {
    width: $grid-width;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.about {
    &__heading-box {
        margin: 7rem 0 8rem 0;
    }

    &__content-box {
        display: flex;
    }

    &__box-left {
        width: 47.5%;
        margin-right: 5%;
    }

    &__box-right {
        width: 47.5%;
    }
}

//

.section-features {
    margin: 10rem 0;
    padding: 15rem 0;
    transform: skewY(-7deg);

    background-image: linear-gradient(
            to right bottom,
            rgba($color-1-light, 0.7),
            rgba($color-1-dark, 0.7)
        ),
        url(../img/com-1.jpg);
    background-size: cover;
    background-position: center;

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 6rem;

        width: $grid-width;
        margin: 0 auto;

        transform: skewY(7deg);
    }
}
