.section-about {
    width: $grid-width;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.about {
    &__heading-box {
        margin: 7rem 0 8rem 0;
    }

    &__content-box {
        display: flex;
    }

    &__box-left {
        width: 47.5%;
        margin-right: 5%;
    }

    &__box-right {
        width: 47.5%;
    }
}
