.section-about {
    width: $grid-width;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.about {
    &__heading-box {
        margin: 7rem 0 8rem 0;
    }

    &__content-box {
        display: flex;
    }

    &__box-left {
        width: 47.5%;
        margin-right: 5%;
    }

    &__box-right {
        width: 47.5%;
    }
}

//

.section-features {
    margin: 10rem 0;
    padding: 15rem 0;
    transform: skewY(-6deg);

    background-image: linear-gradient(
            to right bottom,
            rgba($color-1-light, 0.7),
            rgba($color-1-dark, 0.7)
        ),
        url(../img/features-background.jpg);
    background-size: cover;
    background-position: center;

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 6rem;

        width: $grid-width;
        margin: 0 auto;

        transform: skewY(6deg);
    }
}

//

.section-tours {
    padding: 2rem 0 15rem 0;

    &__heading-box {
        text-align: center;
    }

    &__container {
        width: $grid-width;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;
}

.section-book {
    // prettier-ignore
    background-image: linear-gradient(to right bottom, $color-1-light, $color-1-dark);
    padding: 15rem 0;

    &__grid {
        width: $grid-width;
        margin: 0 auto;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

        background-image: linear-gradient(
                105deg,
                rgba($color-white, 0.9) 0%,
                rgba($color-white, 0.9) 50%,
                transparent 50%
            ),
            url(../img/book-background.jpg);
        background-size: cover;
        background-position: right;

        height: 50rem;
    }

    &__content {
        width: 50%;
        height: 100%;
        padding: 6rem;
    }
}
