@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Muli", sans-serif;
  word-spacing: 2px;
  margin: 5rem 0;
}

.container {
  display: flex;
  max-width: 118rem;
  height: 40rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.panel {
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1rem;
  flex: 0.5;
  position: relative;
  transition: all 0.5s ease-in;
}

.panel h3 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  width: 90%;

  position: absolute;
  left: 2rem;
  bottom: 1.5rem;
  opacity: 0;
}

.panel.active h3 {
  transition: opacity 0.25s ease-in 0.5s;
  opacity: 1;
}

.active {
  flex: 1.5;
}

@media only screen and (max-width: 62.5em) {
  .panel h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 32em) {
  .container {
    flex-direction: column;
    height: 80rem;
  }

  .panel h3 {
    font-size: 2.4rem;
  }
}
