*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 9px;
  }
}
body {
  padding: 3rem;
}
@media only screen and (max-width: 37.5em) {
  body {
    padding: 0;
  }
}

.main {
  background-color: #f7f7f7;
  padding-top: 25rem;
  margin-top: -24rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777;
  line-height: 1.5;
}

.heading-1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 1rem;
  line-height: 1.2;
  backface-visibility: hidden;
}
.heading-1--animated {
  animation: moveInLeft 1s ease-in-out;
}

.header__text {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  line-height: 1.2;
  backface-visibility: hidden;
}
.header__text--animated {
  animation: moveInRight 1s ease-in-out;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-6rem {
  margin-top: 6rem !important;
}

@keyframes moveInLeft {
  0% {
    opacity: 0.5;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0.5;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 4rem;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.7) scaleY(1.4);
  opacity: 0;
}
.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.header {
  width: 100%;
  height: 64rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)), url(../img/header-background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.header__logo {
  width: 20rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.header__box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
