@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 8px;
  }
}
body {
  padding: 3rem;
}
@media only screen and (max-width: 37.5em) {
  body {
    padding: 0;
  }
}

.main {
  background-color: #f7f7f7;
  padding-top: 25rem;
  margin-top: -24rem;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777;
  line-height: 1.5;
}

.heading-1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 1rem;
  line-height: 1.2;
  backface-visibility: hidden;
}
.heading-1--animated {
  animation: moveInLeft 1s ease-in-out 0.2s;
  animation-fill-mode: backwards;
}

.header__text {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  line-height: 1.2;
  backface-visibility: hidden;
}
.header__text--animated {
  animation: moveInRight 1s ease-in-out 0.2s;
  animation-fill-mode: backwards;
}

.heading-2 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  transition: all 0.2s;
  cursor: default;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}
.heading-2:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.05);
  transform: scale(1.02);
}

.heading-3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-6rem {
  margin-top: 6rem !important;
}

.u-margin-top-10rem {
  margin-top: 10rem !important;
}

.u-margin-bottom-1-5rem {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-mediu {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-8rem {
  margin-bottom: 8rem !important;
}

.u-skew-y-7deg {
  transform: skewY(7deg) !important;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  10% {
    opacity: 0.5;
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  10% {
    opacity: 0.5;
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  border: none;
  border-radius: 10rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 4rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.95s;
  animation-fill-mode: backwards;
}

.btn-text, .btn-text:link, .btn-text:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #55c57a;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #55c57a;
  transition: all 0.2s;
}
.btn-text:hover {
  border-radius: 3px;
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  border-radius: 3px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo-box {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  transition: all 0.3s;
}
.composition__photo-box:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.composition__photo-box:hover .composition__photo-box__photo-box:not(:hover) {
  transform: scale(0.9);
}
.composition__photo-box--1 {
  left: 0;
  top: -2rem;
  z-index: 1;
}
.composition__photo-box--2 {
  right: 0;
  top: 2rem;
  z-index: 2;
}
.composition__photo-box--3 {
  left: 20%;
  top: 10rem;
  z-index: 3;
}
.composition__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s;
}
.composition__photo:hover {
  transform: scale(1.15);
}
.composition__photo--p1 {
  background-image: url(../img/com-2.jpg);
}
.composition__photo--p2 {
  background-image: url(../img/com-3.jpg);
}
.composition__photo--p3 {
  background-image: url(../img/com-1.jpg);
}
.composition:hover .composition__photo-box:not(:hover) {
  transform: scale(0.9);
}

.feature-box {
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-size: 1.5rem;
  transition: transform 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

@font-face {
  font-family: "linea-basic-10";
  src: url("fonts/linea-basic-10.eot");
  src: url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"), url("fonts/linea-basic-10.woff") format("woff"), url("fonts/linea-basic-10.ttf") format("truetype"), url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-world:before {
  content: "\e028";
}

.icon-basic-compass:before {
  content: "B";
}

.icon-basic-map:before {
  content: "+";
}

.icon-basic-heart:before {
  content: "W";
}

.card {
  height: 52rem;
  position: relative;
  perspective: 150rem;
}
.card__side {
  width: 100%;
  height: 52rem;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: all 0.8s ease;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  height: 21rem;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: url(../img/card-1.jpg);
}
.card__picture--2 {
  background-image: url(../img/card-2.jpg);
}
.card__picture--3 {
  background-image: url(../img/card-3.jpg);
}
.card__heading {
  position: absolute;
  top: 18.7rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 2rem;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.card__heading--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__heading--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__heading--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card__details {
  padding: 3.5rem 3rem 3rem 3rem;
  text-align: center;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details li {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.25rem;
}
.card__details li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: #fff;
}
.card__price {
  margin-bottom: 8rem;
  font-size: 6rem;
  font-weight: 100;
}
.card__only {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.15;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story {
  width: 75%;
  padding: 6rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  transform: skewX(-12deg);
}
.story-grid {
  width: 114rem;
  margin: 0 auto;
}
.story:not(:last-child) {
  margin-bottom: 8rem;
}
.story > * {
  transform: skewX(12deg);
}
.story__shape {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
.story__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform: translate(0.5rem, -2rem) scale(1.4);
}
.story__image-2 {
  transform: translate(-3rem, -2rem) scale(1.4);
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  backface-visibility: hidden;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  transition: all 0.4s;
}
.story:hover .story__image {
  transform: translate(0rem, 0rem) scale(1);
  filter: blur(3px) brightness(0.8);
}
.story:hover .story__caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.story__text {
  margin-left: 4rem;
  width: 55rem;
  font-size: 1.4rem;
}

.header {
  width: 100%;
  height: 70rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)), url(../img/header-background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.header__logo {
  width: 20rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.header__box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-family: "Lato";
}
.footer__logo-box {
  width: 25rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}
.footer__logo {
  width: 100%;
  display: inline;
}
.footer__container {
  width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15rem;
}
.footer__links {
  border-top: 1px solid #777;
}
.footer__links ul {
  margin: 0 auto;
  width: fit-content;
  padding: 0.5rem 1rem 0 1rem;
  list-style: none;
  display: flex;
}
.footer__links li:not(:last-child) {
  margin-right: 0.5rem;
}
.footer__links a,
.footer__links a:link,
.footer__links a:visited {
  font-size: 1.4rem;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  transition: all 0.3s;
}
.footer__links a:hover, .footer__links a:active,
.footer__links a:link:hover,
.footer__links a:link:active,
.footer__links a:visited:hover,
.footer__links a:visited:active {
  transform: scale(1.1) translateY(-1px);
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.footer__box-right {
  border-top: 1px solid #777;
  text-align: center;
}
.footer__copyright {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #f7f7f7;
  letter-spacing: 0.33px;
}

.section-about {
  width: 114rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.about__heading-box {
  margin: 7rem 0 8rem 0;
}
.about__content-box {
  display: flex;
}
.about__box-left {
  width: 47.5%;
  margin-right: 5%;
}
.about__box-right {
  width: 47.5%;
}

.section-features {
  margin: 10rem 0;
  padding: 15rem 0;
  transform: skewY(-6deg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../img/features-background.jpg);
  background-size: cover;
  background-position: center;
}
.section-features__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6rem;
  width: 114rem;
  margin: 0 auto;
  transform: skewY(6deg);
}

.section-tours {
  padding: 2rem 0 15rem 0;
}
.section-tours__heading-box {
  text-align: center;
}
.section-tours__container {
  width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 15rem 0;
}
.section-book__grid {
  width: 114rem;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/book-background.jpg);
  background-size: cover;
  background-position: right;
  height: 50rem;
}
.section-book__content {
  width: 50%;
  height: 100%;
  padding: 6rem;
}

/*# sourceMappingURL=style.css.map */
