.header {
  width: 100%;
  height: 70vh;
  padding-top: 1.2rem;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.66),
      rgba(0, 0, 0, 0.33),
      rgba(0, 0, 0, 0.1)
    ),
    url(../img/header-background.jpg);
  background-size: cover;
  background-position: center;

  &__container {
    width: 130rem;
    height: 100%;
    margin: 0 auto;

    position: relative;
  }

  &__quote {
    font-size: 5.2rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

    color: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.75)
    );
    -webkit-background-clip: text;
    background-clip: text;

    margin-left: 2rem;

    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);

    &--up,
    &--down {
      display: block;
      height: 6.3rem;
    }
  }

  &__avatar {
    height: 85%;

    position: absolute;
    bottom: 0;
    right: 2rem;

    -webkit-filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.33));
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.33));

    transition: all 0.3s;

    &:hover,
    &:active {
      -webkit-filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.75));
      filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.75));
    }
  }

  &__link {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0.2rem;
    transform: translateX(-50%);

    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;

    color: #fff9e7;

    transition: all 0.3s;

    &--text {
      display: block;
    }

    &--icon {
      display: inline-block;
      font-size: 3.6rem;

      animation-name: scaleArrow;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }

    &:hover {
      text-shadow: 0 0 10px rgba(255, 249, 231, 0.3);
    }
  }

  // TEMPORARY
  //   margin-bottom: 50rem;
}

@keyframes scaleArrow {
  0% {
    transform: scale(1, 1) translate(0);
    opacity: 1;
  }

  50% {
    transform: scale(1.8, 1.8) translate(0, 0.2rem);
    opacity: 0.33;
  }

  100% {
    transform: scale(1, 1) translate(0);
    opacity: 1;
  }
}
