.interests {
  padding: 9.6rem 0;

  &__container {
    width: 130rem;

    margin: 0 auto;

    text-align: center;
  }

  &__boxes {
    display: flex;
    justify-content: space-evenly;

    &__box {
      width: 25rem;
      height: 30rem;
      padding: 2rem;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    }
  }

  &__icon {
    font-size: 4.4rem;
    color: #444;
  }
}
