.logo {
  display: inline-block;
  margin: 2rem;
  padding: 1rem 2rem;

  color: #aaa;
  font-size: 2rem;
  font-weight: 600;

  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);

  cursor: pointer;
  transition: all 0.3s;

  &__text {
    &--up {
      display: block;
      letter-spacing: 1px;
    }

    &--down {
      display: block;
      letter-spacing: 3.5px;
    }
  }

  &:hover {
    box-shadow: 0 0 5px 8px rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.33);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.33);
    color: #eee;
  }
}
