// .clicker {
//   display: none;
// }

// .game {
//   display: flex;
// }

// TEMPORARY

// MATTE COLOR
// rgb(40, 40, 43)

.game {
  &__container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__intro-layout {
    width: 90%;
    height: 90%;
    padding: 2rem 2.5rem;

    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1) inset;

    position: relative;

    &__box {
      display: flex;
      flex-direction: column;

      height: 100%;
      width: 60%;
    }
  }

  &__heading-2 {
    margin-top: 0.5rem;
    // margin-top: 1rem;
    font-size: 4rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #ff6b6b;
    padding: 0 1rem;
    width: fit-content;
    border-bottom: 2px solid #ff6b6b;
    box-shadow: 0 4px 3px -3px gray;
    transform: translateX(-0.5rem);
  }

  &__heading-3 {
    margin-top: 2.5rem;
    // margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    color: #555;

    display: flex;
    align-items: center;
    width: fit-content;
  }

  &__joy-icon {
    font-size: 2.8rem;
    margin-left: 0.8rem;
  }

  &__text {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 2rem;
      margin-right: 0.8rem;
    }
  }

  &__intro-btns-box {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: 7.5rem;
    margin-top: auto;
    margin-bottom: 1rem;
    margin-bottom: 1.5rem;
  }

  &__intro-btn {
    border: none;
    background-color: transparent;

    cursor: pointer;
    transition: all 0.2s;

    font-family: "Lato", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #222;

    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: #fff;

    &:hover {
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    }

    &:active {
      transform: scale(0.97);
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &--2 {
      font-size: 2rem;
      font-weight: 500;
      box-shadow: 0 0 2.5px 1px rgba(0, 0, 0, 0.1) inset;
      padding: 1rem 3rem;
      color: #777;

      &:hover {
        box-shadow: 0 0 2.5px 1.5px rgba(0, 0, 0, 0.15) inset;
      }

      &:active {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1) inset;
        color: #333;
      }
    }
  }

  &__globe-img {
    height: 90%;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);

    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  }
}
