// // // /// // // // // // // // // // // // // // //

.logo,
.logo:link,
.logo:visited {
    display: flex;
    align-items: center;

    margin-left: 2rem;
    text-decoration: none;
    height: 5rem;
}

.logo {
    color: var(--color-1l);

    &-1 {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;
    }

    &-2 {
        font-size: 1.6rem;
        font-weight: 400;
        border: 1px solid var(--color-1l);
        border-radius: 3px;
        padding: 0 0.5rem;
        margin-left: 0.5rem;
        transform: translateY(0.1rem);
    }
}

// // // /// // // // // // // // // // // // // // //

.search {
    position: relative;

    &__input {
        width: 35rem;
        height: 3rem;
        border-radius: 50rem;
        border: none;
        background-color: var(--color-gl2);
        padding-left: 1.5rem;
        padding-right: 1rem;

        font-family: "Open Sans", sans-serif;
        color: #555;
        font-weight: 500;

        &::placeholder {
            color: #999;
            font-weight: 300;
            font-size: 1.4rem;
        }

        transition: all 0.3s, height 0.1s;

        &:focus {
            outline: none;
            width: 37.5rem;
            height: 3.2rem;
            box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
        }
    }

    &__label {
        position: absolute;
        top: 2.9rem;
        left: 2rem;
        color: #999;

        font-size: 1.2rem;

        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        top: 1rem;
        opacity: 0;
        visibility: hidden;
    }

    &__button {
        width: 2rem;
        height: 3rem;

        border: none;
        background-color: transparent;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        z-index: 10;

        cursor: pointer;
        transition: all 0.3s;

        &:active {
            transform: translateY(-50%) scale(0.9);
        }
    }

    &__input:focus ~ &__label {
        transform: translateY(0.2rem);
    }

    &__icon {
        width: 100%;
        height: 100%;
        fill: #777;
    }
}

// // // /// // // // // // // // // // // // // // //

.user-nav {
    display: flex;
    align-items: center;
    height: 100%;

    &__icon-box {
        display: flex;
        align-items: center;
        height: 100%;

        position: relative;

        border-left: 1px solid var(--color-gl3);
        border-right: 1px solid var(--color-gl3);

        cursor: pointer;
        transition: background-color 0.1s, transform 0.2s;

        &:hover {
            background-color: var(--color-gl2);
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__icon {
        width: 7rem;
        height: 3.5rem;
        fill: #999;
    }

    &__notif {
        display: block;

        position: absolute;
        top: 1rem;
        right: 1.5rem;

        font-size: 1.2rem;
        color: #fff;

        background-color: var(--color-1);
        border-radius: 50%;
        padding: 0.1rem 0.6rem;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 100%;
        padding: 0 2rem;

        cursor: pointer;
        transition: background-color 0.1s, transform 0.2s;

        &:hover {
            background-color: var(--color-gl2);
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__img-box {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        // transition: transform 0.5s;
    }

    // &__user:hover &__img {
    //     transform: scale(1.05);
    // }

    &__name {
        font-weight: 500;
        font-size: 1.6rem;
    }
}

// // // /// // // // // // // // // // // // // // //
