.header {
  width: 100%;
  height: 92vh;

  background-image: url(../img/header-background.jpg);
  background-size: cover;
  background-position: center;

  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
