@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --color-1: #eb2f64;
  --color-1l: #ff3366;
  --color-1d: #ba265d;
  --color-gl1: #faf9f9;
  --color-gl2: #f4f2f2;
  --color-gl3: #f0eeee;
  --color-gl4: #ccc;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --border: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 8px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-1l), var(--color-1d));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-gl1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  background-color: #fff;
  height: 7rem;
  border-bottom: 1px solid var(--color-gl3);
}

.content {
  display: flex;
}

.nav {
  width: 18%;
}

.main {
  width: 82%;
}

.logo,
.logo:link,
.logo:visited {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  text-decoration: none;
  height: 5rem;
}

.logo {
  color: var(--color-1l);
}
.logo-1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}
.logo-2 {
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid var(--color-1l);
  border-radius: 3px;
  padding: 0 0.5rem;
  margin-left: 0.5rem;
  transform: translateY(0.1rem);
}

.search {
  position: relative;
}
.search__input {
  width: 35rem;
  height: 3rem;
  border-radius: 50rem;
  border: none;
  background-color: var(--color-gl2);
  padding-left: 1.5rem;
  padding-right: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #555;
  font-weight: 500;
  transition: all 0.3s, height 0.1s;
}
.search__input::placeholder {
  color: #999;
  font-weight: 300;
  font-size: 1.4rem;
}
.search__input:focus {
  outline: none;
  width: 37.5rem;
  height: 3.2rem;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.search__label {
  position: absolute;
  top: 2.9rem;
  left: 2rem;
  color: #999;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.search__input:placeholder-shown + .search__label {
  top: 1rem;
  opacity: 0;
  visibility: hidden;
}
.search__button {
  width: 2rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s;
}
.search__button:active {
  transform: translateY(-50%) scale(0.9);
}
.search__input:focus ~ .search__label {
  transform: translateY(0.2rem);
}
.search__icon {
  width: 100%;
  height: 100%;
  fill: #777;
}

.user-nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.user-nav__icon-box {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  border-left: 1px solid var(--color-gl3);
  border-right: 1px solid var(--color-gl3);
  cursor: pointer;
  transition: background-color 0.1s, transform 0.2s;
}
.user-nav__icon-box:hover {
  background-color: var(--color-gl2);
}
.user-nav__icon-box:active {
  transform: scale(0.9);
}
.user-nav__icon {
  width: 7rem;
  height: 3.5rem;
  fill: #999;
}
.user-nav__notif {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: var(--color-1);
  border-radius: 50%;
  padding: 0.1rem 0.6rem;
}
.user-nav__user {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding: 0 2rem;
  cursor: pointer;
  transition: background-color 0.1s, transform 0.2s;
}
.user-nav__user:hover {
  background-color: var(--color-gl2);
}
.user-nav__user:active {
  transform: scale(0.95);
}
.user-nav__img-box {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.user-nav__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-nav__name {
  font-weight: 500;
  font-size: 1.6rem;
}

.nav {
  min-height: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
}
.nav__items {
  list-style: none;
  margin-top: 3rem;
  font-size: 1.4rem;
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-1);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.5s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  cursor: pointer;
}
.nav__item:hover::before, .nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.nav__item:active::before {
  background-color: var(--color-1l);
}
.nav__link, .nav__link:link, .nav__link:visited {
  display: flex;
  align-items: center;
  color: var(--color-gl1);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  padding: 1.5rem 3rem;
}
.nav__icon {
  fill: var(--color-gl1);
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 2rem;
}

.cr {
  color: var(--color-gl4);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.33px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1.5rem;
  border-top: 1px solid #777;
  padding-top: 1.2rem;
}

.gallery {
  display: flex;
}
.gallery__img {
  display: block;
  width: 100%;
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-gl3);
  background-color: #fff;
}
.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}
.overview__stars {
  display: flex;
  margin-right: auto;
}
.overview__icon-star, .overview__icon-location {
  fill: var(--color-1);
  width: 2rem;
  height: 2rem;
}
.overview__location {
  display: flex;
  align-items: center;
}
.overview__icon-location {
  margin-right: 0.5rem;
}
.overview__rating {
  margin-left: 3rem;
  color: #fff;
  background-color: var(--color-1);
  padding: 0 2.25rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overview__rating-average {
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: -3px;
}
.overview__rating-count {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.btn-inline {
  border: none;
  background-color: transparent;
  display: inline-block;
  color: var(--color-1);
  font-size: 1.3rem;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  transition: all 0.1s;
}
.btn-inline:hover {
  color: var(--color-1d);
}
.btn-inline:focus {
  outline: none;
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
    background-color: transparent;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.05);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
    background-color: transparent;
  }
}

/*# sourceMappingURL=style.css.map */
