// <div class="country margin-right-auto">
//   <div class="country__name-box">
//     <div class="country__flag"></div>
//     <p class="country__name"></p>
//   </div>
//   <div class="country__info">
//     <p class="country__capital"></p>
//     <p class="country__region"></p>
//     <p class="country__people"></p>
//     <p class="country__language"></p>
//     <p class="country__currency"></p>
//   </div>
// </div>

.country-wrapper {
  width: 35%;
  margin: 0 auto;
}

.country {
  width: 25rem;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 3px 1px #999;
  border-radius: 5px;
  padding: 3rem 1.5rem;
  color: #333;
  background-color: rgba(0, 0, 0, 0.02);

  &__name-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
    border-radius: 5px;
    padding: 0.8rem 0.8rem;
    background-color: #f8f9fa;
    margin: 0 auto;

    ::selection {
      background-color: transparent;
    }
  }

  &__flag {
    min-width: 5rem;
    min-height: 3rem;

    background-size: cover;
    background-position: center;
  }

  &__name {
    white-space: nowrap;
    overflow-x: scroll;
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__info {
    font-size: 1.8rem;
    font-weight: 500;
    color: #666;
    padding: 2rem;

    * {
      //   text-shadow: 0 0 20px rgba(150, 150, 150, 0.5);
      margin-bottom: 0.6rem;
      padding-bottom: 0.2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      text-indent: 5px;
      white-space: nowrap;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.err-message {
  text-align: center;
  font-size: 1.8rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1.5rem;
}

.try-again {
  cursor: pointer;
  width: fit-content;
  padding: 1rem 2.5rem;
  margin: 2rem auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #555;
  background-color: rgba(0, 0, 0, 0.05);

  transition: color 0.2s, background-color 0.2s, transform 0.2s;

  &::selection {
    background-color: transparent;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.66);
    color: rgba(255, 255, 255, 1);
  }

  &:active {
    transform: scale(0.95);
  }

  &-loc {
    width: fit-content;
    text-align: center;
    padding: 1rem 2.5rem;
    margin: 1rem auto;
    border-radius: 5px;
    color: #555;
    font-size: 2rem;
    font-weight: 600;

    // box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    // background-color: rgba(0, 0, 0, 0.05);
  }
}

// <ion-icon class="sync-icon" name="sync-outline"></ion-icon>

.sync-icon {
  display: block;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  margin: 1rem auto;
  padding: 5px;
  color: #74c0fc;
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;

  animation-name: syncAnimation;
  animation-iteration-count: infinite;
  animation-duration: 2s;

  &--map {
    width: 15rem;
    height: 15rem;
    // margin: 14rem auto;   // strange
    margin: 28rem auto;
    padding: 1.5rem;
  }
}

@keyframes syncAnimation {
  0% {
    transform: rotate(0) scale(1);
  }

  33% {
    transform: rotate(360deg) scale(0.75);
  }

  66% {
    transform: rotate(720deg) scale(1.25);
  }

  100% {
    transform: rotate(0) scale(1);
  }
}

.start-country {
  border: none;
  background-color: transparent;

  display: block;
  margin: 0 auto;
  transform: translateY(-0.3rem);

  font-size: 2rem;
  font-weight: 550;
  color: #ff6b6b;

  padding: 1rem 2rem 0.5rem 2rem;
  border-bottom: 1px solid #ffc9c9;

  cursor: pointer;
  transition: all 0.2s;

  &:hover,
  &:active {
    border-bottom: 1px solid #fa5252;
    color: #f03e3e;
  }
}
