// TEMPORARY
// .clicker {
//   display: none;
// }

// .locations {
//   display: block;
// }

// TEMPORARY

.locations {
  width: 100rem;
  height: 50rem;
}

.loc {
  &__form {
    width: 100rem;
    height: 5.3rem;

    display: flex;
    align-items: center;

    background-color: #f9fbfd;
    background-image: linear-gradient(
      to right,
      #fff,
      #f9fbfd,
      #f9fbfd,
      #f9fbfd,
      #f9fbfd,
      #f9fbfd,
      #f9fbfd,
      #f9fbfd,
      #f9fbfd,
      #f9fbfd
    );

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__search-bar {
    display: block;
    width: 50rem;
    height: 3rem;
    padding: 0.5rem 0 0.5rem 3.7rem;

    padding-right: 8rem;

    border: none;
    border-radius: 50px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);

    font-family: "Lato", sans-serif;
    color: #333;
    font-size: 1.6rem;
    font-weight: 600;

    // transition: box-shadow 0.2s;

    &::placeholder {
      color: #888;
      font-weight: 500;

      &::selection {
        background-color: transparent;
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 2px 2px #aaa;
    }

    &__label {
      margin: 0 auto;
      position: relative;
    }

    &__search {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.3rem;

      background-color: #eee;
      color: #333;
      padding: 0.2rem 1rem 0.4rem 1rem;
      border-radius: 50px;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);

      cursor: pointer;
      transition: all 0.2s;

      &::selection {
        background-color: transparent;
      }

      &:hover {
        background-color: #ddd;
      }

      &:active {
        background-color: #eee;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2) inset;
      }
    }

    &__magnifying {
      width: 2rem;
      height: 2rem;
      color: #777;
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
    }
  }

  // // // // // // // // // // // //

  &__container {
    display: flex;

    width: 100rem;
    height: 44.7rem;
  }

  &__box-right {
    width: 38rem;
    height: 44.7rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__box-left {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 62rem;
    height: 44.7rem;

    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  // // // // // // // // // // // //

  &__ex::-webkit-scrollbar {
    display: none;
  }

  &__ex {
    width: 50rem;
    padding: 0 1rem 1rem 1rem;

    // PROBLEMS
    height: 33rem;
    overflow: scroll;

    border-radius: 5px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.01);

    border-top: 1rem solid rgba(0, 0, 0, 0.01);
    border-bottom: 1rem solid rgba(0, 0, 0, 0.01);

    transition: height 0.25s;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &__box {
    }

    &__country-name {
      width: 100%;
      height: 3rem;
      border-radius: 5px;
      padding-left: 1rem;

      font-size: 1.6rem;
      font-weight: 600;
      color: #333;

      background-color: rgba(0, 0, 0, 0.075);
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);

      display: flex;
      align-items: center;

      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: none;
      }

      &:active {
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &__title {
        padding: 0 1rem 2rem 0;
      }
    }
  }
}

.no-result {
  font-size: 5rem;
  font-weight: 600;
  color: #777;
  color: #ff6b6b;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;

  &__text {
    padding: 0 2rem;
    border-bottom: 2px solid #ff6b6b;
    box-shadow: 0 4px 3px -3px gray;

    &::selection {
      background-color: transparent;
    }

    cursor: default;
  }
}
