.heading-1 {
  color: #555;
  font-size: 3.6rem;
}

.heaidng-2 {
  color: #555;
  font-size: 3rem;
}

.sub-heading {
  color: #999;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 0.33;
  transform: translateX(1px);
}

.sub-heading--smaller {
  font-size: 1.4rem;
  line-height: 0.5;
  margin-bottom: 2.4rem;
}
